.speech{
    font-style: italic;
font-size: 18px;
color: black;
}
.song{
    font-style: serif;
font-size: 15px;
color: black;
}
.direction{
    font-style: sans-serif;
font-size: 16px;
color: black;
background-color: beige;
}
.name{
    font-style: serif;
font-size: 12px;
color: rgb(236, 19, 30);
}
.name:hover{
    border: 5px;
    color:black;
    box-shadow: 0 4px 8px rgb(236, 19, 30);
    
}
.direction:hover{
    color:white;
    background-color:rgb(50, 47, 255) ;
}
.duke{
color: darkblue;
}
.duch{
color: rgb(43, 215, 46);
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    color: black;
    border-spacing: 1px;
    text-align: left;
}
td{
border: 1px solid black;
  padding: 8px;
  margin: 2px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th{
    text-align: center;
    background-color: rgba(0, 0, 255, 0.247);
    border:1px solid black;
}
.GUI{
   color: chocolate; 
}
.MAR{
    color: darkred;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:#000;
    background-color:rgba(128, 0, 128, 0.062)
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    }